{% extends "base_page.html" %}
{% load wagtailcore_tags %}

{% block content %}
    {% include "navigation/breadcrumbs.html" %}
    <div class="site-padding site-container gap-10 pt-20 md:pt-28 tall:md:pt-40 pb-10 md:pb-20 flex flex-col lg:flex-row">
        <div class="max-w-[872px]">
            <p class="text-sm md:text-base text-grey-700 font-codepro pt-0 pb-10">
                <span class="text-sm md:text-base text-mackerel-300 font-medium uppercase">
                    {{ page.get_achievement_type_display }}
                </span>
                {% if page.achievement_date %}
                    {% include "icons/slash.html" with class="inline fill-current w-4 h-4" %}{% include "icons/slash.html" with class="inline -ml-1 fill-current w-4 h-4" %}
                    <span class="text-sm md:text-base text-grey-700">
                        {{ page.achievement_date|date:"Y-m-d" }}
                    </span>
                {% endif %}
            </p>
            <h1 class="font-serif4 font-bold text-4xl lg:text-7xl">{{ page.title }}</h1>
            {% if page.summary %}
                <div class="pt-7 rich-text">{{ page.summary }}</div>
            {% endif %}
        </div>
        <div class="lg:self-end lg:ml-auto text-sm md:text-base text-grey-700 font-codepro">
            {% if page.responsible_team %}
                <p class="font-medium text-mackerel-300">{{ page.responsible_team }}</p>
            {% endif %}
            {% if page.related_faculty.all %}
                <p class="pt-3">
                {% for member in page.related_faculty.all %}
                    <a href="{% pageurl member %}" class="underline underline-offset-4">{{ member.title }}</a>{% if not forloop.last %}、{% endif %}
                {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>

    {% include_block page.body %}

    {% include "components/related-pages.html" %}
{% endblock %}
